*{
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.grid
{
    display:grid;
}
 a{
     text-decoration:none;
     color:black;
 }

 nav {
     position: fixed;
     width: 100%;
 }

.nav-1 {
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #131313;
}

.nav-1 a {
 
    color: grey;
    padding-right: 8px;
    font-size: 15px;
}
.nav-1 a:hover {
    color: #EFEFEF;
}

.nav-2 {
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 2%;
    background-color: white;
    width: 100%;
}

.nav-2-left a {
   
    color: gray;
    margin-right: 10px;
}
.nav-2-right {
    color: red;
}

.nav-2-items {
    margin-right: 20px;
}

.fa-search {
    color: grey;
}

.nav-2-btn {
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.nav-2-btn:hover {
    cursor: pointer;
    background-color: #9900CC;
}
.nav-3
{
    background-color:#ffdd33;
    padding-left:2%;
    height:5vh;
    align-items: center;
    width: 100%;
  
}

.section-1
{
    padding:0.3%;
    padding-top: 9%;
}
.sec-1-right
{
    flex-direction:column;
    margin-left:1%;
}
.lower-flex
{
    margin-top:1%;
}

.section-2
{   margin:2% 6% 2% 6%;
  
}
.sec-2-grid
{   padding-top:3%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1%;
    grid-row-gap:8%;

}

.latest-news {
    color: #ffdd33;
    font-weight: 900;
}

.latest-news:hover {
    color: black;
}
.grid1 h3{
    width:95%;
}

.section-3 {
    margin: 7% 8%;
}
.section-3-top {
    justify-content: space-between;
}
.section-3-top a {
    padding-left: 1vw;
    padding-right: 1vw;
    color: #FF4422;
}

.section-3-top-a{
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #FF4422;
    border-left-color: #FF4422;
    border-left-width: 1px;
    border-right-width: 1px;
  
}

.section-3-bottom {
    margin-top: 5%;
}

.card {
    flex-direction: column;
    background-color: #FFFAF8;
    margin-right: 2%;
}

.card hr{
    color: #FF4422;
    margin-top: 5%;
}

.card p{
    padding-top: 5%;
    color: gray;
    font-size: 12px;
}

@media screen and (max-width: 768px)
{
    nav{
        display:none;
    }
    .section-1{
        flex-direction:column;
    }
}

